*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.wrapper{
    height: 100vh;
    font-family:'Poppins',sans-serif;
    /* X axis ma scroll ni hone dene k liye, use this attribute */
    overflow-y: auto;
    overflow-x: hidden;
    
    /* To work with 3d space we need to define perspective
    kuki hume wo images pe kam krna h jisme ek aankhon k samne rhega aue ek dur
    to have 3d like effect*/
    perspective: 10px;
}
.container{
    position: relative; /* Background image should be non-static in order to use position: absolute, */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* We have to write transform attribute so that our both images overlap on each other to produce parallax effect,else it would be having a 2d effect
    meaning:- jo bhi hmne 3d positions set kiye ha usko preserve rkhna usko hatana nhi ha*/
    transform-style: preserve-3d;
    /* Used for layering ki kon si image kis k upr overlap hui */
    z-index:-1;
}
/* Parallax Effect lane k liye .background aur .foreground use krenge */
.background{
    transform: translateZ(-40px) scale(5);
}
.foreground{
    transform: translateZ(-20px) scale(3);
}
/* Flex ma  by default since main axis horizontal hota ha isliye elements stack ho rhi hoti ha aur agr hm iske shuru k 3 lines na dale to ye overlap ni krega */
.background, .foreground{
    /* agr nearest/immediate parent/ancestor non static hoga ,tbhi isko(absolute) use kr skte ha */
    position: absolute;
    height: 100%; 
    width:100%;
    z-index:-1;
    object-fit: cover;/* This property is used to specify how an image/video should be resized to fit its container,it means we would have better aspect ratio
    If we don't use it, our image looks little streched*/
}
h1{
    position: absolute;
    top: 3rem;
    font-size: 10rem;
    letter-spacing: 4px;
    color: white;
    text-shadow: 0 0 10px rgba(0,0,0,0.3);
}
section{
    background-color: rgb(45,45,45);
    color: white;
    padding: 5rem 0;
}
.secHeading{
    font-size: 5rem;
    padding:0 10rem;
}
.text{
    font-size:1.5rem;
    padding:0 10rem;
    margin:5rem 0;
}
.bg{
    position: relative;
    width:100%;
    /* Property jiske chlte image whi pe rhegi aur hm us image k upr scroll kr skte ha */
    background-attachment: fixed;
    /* In case image ka koi object nazar na aye(eg:- man with surfing board), uske liye is property ko use krte ha taaki main object image pe nzar aaye */
    background-position: center;
    /* In case oject screen pe nzar aya(eg:-man with surfing board) , lekin size ma jyada bada ho gya to is property k use se wo apne hisab se perfectly settle ho jyega */
    /* Bilkul object-fit ki trah ye property background image ko perfect dikhne wla banata ha */
    background-size: cover;
    height:500px;
}
.desc{
    position: absolute;
    background-color:white;
    padding: 0.5rem 2.5rem;
    top:50%;
    left:50%;
    translate: translateX(-50%) translateY(-50%);
    color:black;
    font-size:3.5rem;
    font-weight: 600;
}
.bg1{
    background-image: url(sport-1.jpg);
}
.bg2{
    background-image: url(sport-2.jpg);
}
.bg3{
    background-image: url(sport-3.jpg);
}
