.container{
    height: 700px;
    border: 1px solid red;
    background-color: yellow;

    display: grid;

    grid-template-rows: 300px 300px 300px;
    grid-template-columns: 250px ;

    grid-template-areas: 
    "hd hd hd hd hd hd hd hd"
    "side side side main main main main main"
    "ft ft ft ft ft ft ft ft"
    "ft ft ft ft ft ft ft ft";
    /* If two rows are defined but in that four rows are to be formed/inserted by grid-template-areas
    then the upper two will acquire the row space as per the dimesnion defined in grid-template-rows:
    and other two would be squeezed somewhere below them. */

}
.box{
    border: 1px solid green;
    background-color: aqua;
}
#header{
    grid-area: hd;
}
#footer{
    grid-area: ft;
}
#sidebar{
    grid-area: side;
}
#content{
    grid-area: main;
}