.box{
    border: 1px solid black;
    height: 200px;
    width: 150px;

    /* 1. Linear gradient:- It creates transition between two or more colors along a straight line. */
    /* We can apply linear gradient in the following directions */

    /* 1.Applying Linear Colour Change(by default: top->bottom)*/
    background-image: linear-gradient(red ,blue);

    /* background-image: This property sets one or more background images for an element.
    It can take a URL value that points to an image file, or a gradient value that creates a color transition. 
    For example: background-image: url("flower.jpg"); or background-image: linear-gradient(to right, red, yellow); */

    /* 2.doing the same for left->right */
    background-image: linear-gradient(to right, red,blue);

    /* doing the same for left->bottom right for diagonal transition */
    background-image: linear-gradient(to bottom right, red,blue,green);

    /* 3.doing the same by using angles */
    background-image: linear-gradient(210deg,red,blue);

    /* 4.doing the same by using color transperancy */
    background-image: linear-gradient(to bottom,rgba(255,0,0,0),rgba(0,0,255,1));
    /* In rgba r->red, g->green ,b->blue, a->opacity/transperancy [lies between 0 to 1] */

    /* This does not have any precedency between specific direction/angles/rgba types of usage 
    instead the one written at last will execute */
}

.mydiv{
    border:1px solid black;
    margin: 10px;
    height: 300px;
    width: 250px;

    /* 2.Radial Gradient:- It is defined by its center. To create a radial gradient we must also define at least two color stops. */

    /* Applying Radial Colour Change */
    background-image: radial-gradient(red,blue,orange);

    /* We can also apply the shape change */
    /* Applying Radial Colour Change */
     background-image: radial-gradient(circle,red,blue,orange);
     
    /* doing the same by applying percentage of color needed */
     background-image: radial-gradient(yellow 5%,orange 10%,red 50%) ;
} 

/* 3.Conic gradient:- It is a gradient with color transitions rotated around a center point. */
.tag{
    border:1px solid black;
    margin: 20px;
    height: 300px;
    width: 250px;
    background-image: conic-gradient(red, yellow, green, blue, black);

    /* We can also use degrees along with conical gradient for color transformations */
    background-image: conic-gradient(red 45deg, yellow 90deg, green 210deg);

}
#cone1 {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-image: conic-gradient(red 0deg, red 90deg, yellow 90deg, yellow 180deg, green 180deg, green 270deg, blue 270deg);
  }